@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

/* base styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

h1 {
    color: #f4f4f4;
}

h2 {
    font-size: 42px;
    padding-bottom: 16px;
}

p {
    margin: 0;
    line-height: 1.6em;
}

span {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #da408d;
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin: 0;
}

/* header */

.nav-section {
    height: 100px;
    align-items: center;
    transition: ease 1s;
}

.nav-logo {
    position: absolute;
    left: 15px;
    padding: 0 15px;
}

.navbar-container {
    justify-content: center;
    padding: 0 0 0 100px;
}

.navbar-container li {
    padding: 0 15px;
    float: left;
}

.login {
    position: absolute;
    right: 15px;
    padding: 0 15px;
}   


/*nav bar*/
#stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

#stickyNav.sticky {
    background-color: #323545;
    transition: 1s;
}

#stickyNav.sticky #dropDownMenu {
    background-color: #323545;
    transition: 1s;
}

.nav-section {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.navbar-container, ul, li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.nav-link, a {
    text-decoration: none;
    color: #f4f4f4;
} 

.navbar-container {
    width: 400px;
}

/* nav bar pink underline */

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color:#da408d;
}

.navbar-container ul li:hover .underline {
	background-color: #da408d;
	width: 100%;
}

/* nav dropdown menu */

.dropdown li {
    padding-top: 5px;
}

.sub-nav, li {
    color: #fff;
    display: block;  
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover {
    cursor: pointer;
}

li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

li:hover > ul,
li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

li ul li {
    clear: both;
    width: 100%;
}

/* nav bar drop down pink underline */

.dropdown li .underline-2 {
    height: 3px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
}

.dropdown li:hover .underline-2 {
    background-color: #da408d;
    width: 60%;
}

/*login button*/
button {
    background: none;
    border: solid 2px #da408d;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    color: #f4f4f4;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: #da408d;
    transition: background-color 0.5s ; 
    font-size: 17px;
}

/* banner image*/
.banner-section {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*banner text*/
.banner-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    width: 800px;
}

/*carousel*/
.carousel-slide {
    display: flex;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    color: #da408d;
    font-size: 40px;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    color: #da408d;
    font-size: 40px;
    cursor: pointer;
}

/*container section*/
.container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 120px 0;
    align-items: center;
    margin: auto;
}

.stacked-list {
    display: block;
    margin-bottom: 8px;
}

.stacked-ul {
    margin: 0 0;
}

.bg-color {
    background-color: #f6f6f6;
}

#reverse-items {
    flex-direction: row-reverse;
    text-align: right;
}

.container-text {
    width: 50%;
    margin: auto;
    padding: 40px;
}

#phone-icon {
    text-align: right;
}

/*footer*/
.footer-container {
    background-color: #323545;
    color: #ffffff;
    height: 480px;
}

.footer-text-container {
    display: flex;
    justify-content: space-between;
    color: #cacaca;
    font-weight: 400;
    width: 1200px;
    align-items: center;
    margin: auto;
    padding: 30px 25px;
    border-top: 1px solid#808591;
    border-bottom: 1px solid#808591;
}

#hide-text, #hide-text-2, #hide-text-3 {
    color: #323545
}

.footer-logo {
    padding: 100px 0 30px 0;
    background-color: #323545;
    width: 1200px;
    align-items: center;
    margin: auto;
}

.text-bold {
    display: block;
    line-height: 1.6em;
    color: #f4f4f4;
}

.foot-nav-list {
    display: block;
    line-height: 1.6em;
    font-weight: 400;
    color: #cacaca;
}

#world-text {
    text-indent: 18px;
}

.nav-product-company-container {
    width: 600px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.foot-nav-list a {
    color: #cacaca;
}

.address-contaiter {
    width: 300px;
}

.address-indent {
    list-style-position: inside;
}

.foot-cont-1, li {
    padding: 0;
    float: none;
}